html, body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

header {
  background: #dadada;
}


p {
  color: #0d113d;
  font: 300 15px/26px 'Montserrat', sans-serif;
  margin: 0;
}

h1,h2,h3,h4 {
  margin: 0;
}

ul {
  margin: 0;
}

ul li:first-child {
  color: #753d9d;
}

ul li {
  margin: 0;
  display: inline-block;
}

.head-menu li {
  display: inline-block;
  margin-right: 20px;
  /* float: right; */
}

.head-menu ul {
  float: right;
  padding: 15px 0;
}

.border:before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background: #000;
  border-radius: 5px;
}

a {
  color: #ffffff;
  font: 300 15px/1 'Montserrat', sans-serif;
}

a:hover {
  color: #753d9d;
}
